# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# Envs / OS
.env
.venv/
.DS_Store

# Outputs
assets/*.html
!bayarea_boba_spots.csv

# allow datasets for CI
!data/*.csv
!data/bayarea_boba_spots.csv
